## Importing dependencies

In [30]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as f

import seaborn as sns
import pandas as pd
import numpy as np

## Loading dataset

In [2]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [3]:
data = sns.load_dataset('taxis')

In [4]:
data.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

## Creating a spark session and converting to a spark dataframe

In [23]:
spark = SparkSession.builder.appName("Learning Spark").getOrCreate()

data_spark = spark.createDataFrame(data)

/home/codespace/.python/current/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:485: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if should_localize and is_datetime64tz_dtype(s.dtype) and s.dt.tz is not None:

In [24]:
data_spark.show(1)

+-------------------+-------------------+----------+--------+----+----+-----+-----+------+-----------+---------------+-------------------+--------------+---------------+
|             pickup|            dropoff|passengers|distance|fare| tip|tolls|total| color|    payment|    pickup_zone|       dropoff_zone|pickup_borough|dropoff_borough|
+-------------------+-------------------+----------+--------+----+----+-----+-----+------+-----------+---------------+-------------------+--------------+---------------+
|2019-03-23 20:21:09|2019-03-23 20:27:24|         1|     1.6| 7.0|2.15|  0.0|12.95|yellow|credit card|Lenox Hill West|UN/Turtle Bay South|     Manhattan|      Manhattan|
+-------------------+-------------------+----------+--------+----+----+-----+-----+------+-----------+---------------+-------------------+--------------+---------------+
only showing top 1 row

## Comparing operations in pandas and pyspark:
##### 1. pandasDataFrame.info() vs pysparkDataFrame.printSchema()

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 703.7+ KB

In [26]:
data_spark.printSchema()

root
 |-- pickup: timestamp (nullable = true)
 |-- dropoff: timestamp (nullable = true)
 |-- passengers: long (nullable = true)
 |-- distance: double (nullable = true)
 |-- fare: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- tolls: double (nullable = true)
 |-- total: double (nullable = true)
 |-- color: string (nullable = true)
 |-- payment: string (nullable = true)
 |-- pickup_zone: string (nullable = true)
 |-- dropoff_zone: string (nullable = true)
 |-- pickup_borough: string (nullable = true)
 |-- dropoff_borough: string (nullable = true)

## String split operations in one column

In [34]:
data["dropoff_zone"].value_counts(dropna=False).to_dict()

{'Upper East Side North': 245,
 'Murray Hill': 220,
 'Midtown Center': 215,
 'Upper East Side South': 177,
 'Midtown East': 176,
 'Times Sq/Theatre District': 160,
 'Lincoln Square East': 156,
 'Clinton East': 151,
 'East Village': 150,
 'Penn Station/Madison Sq West': 148,
 'Union Sq': 139,
 'Upper West Side South': 135,
 'Lenox Hill West': 134,
 'Midtown North': 131,
 'Upper West Side North': 130,
 'East Chelsea': 120,
 'Midtown South': 116,
 'Lenox Hill East': 112,
 'Gramercy': 112,
 'Yorkville West': 107,
 'East Harlem South': 104,
 'West Village': 101,
 'West Chelsea/Hudson Yards': 101,
 'Sutton Place/Turtle Bay North': 99,
 'Garment District': 97,
 'UN/Turtle Bay South': 95,
 'TriBeCa/Civic Center': 81,
 'Central Park': 81,
 'Greenwich Village North': 78,
 'Kips Bay': 76,
 'Flatiron': 74,
 'Lower East Side': 73,
 'Central Harlem North': 69,
 'Lincoln Square West': 69,
 'Clinton West': 66,
 'East Harlem North': 65,
 'LaGuardia Airport': 65,
 'Yorkville East': 65,
 'Central Harlem': 63,
 'Manhattan Valley': 60,
 'Greenwich Village South': 58,
 'JFK Airport': 56,
 'Morningside Heights': 55,
 'Meatpacking/West Village West': 55,
 'Astoria': 55,
 'Little Italy/NoLiTa': 54,
 'Battery Park City': 48,
 nan: 45,
 'Financial District North': 38,
 'Jackson Heights': 34,
 'Washington Heights South': 33,
 'Park Slope': 32,
 'SoHo': 31,
 'Hudson Sq': 31,
 'Alphabet City': 31,
 'Fort Greene': 30,
 'Crown Heights North': 30,
 'Brooklyn Heights': 29,
 'Two Bridges/Seward Park': 29,
 'Long Island City/Hunters Point': 28,
 'Sunnyside': 28,
 'Boerum Hill': 27,
 'Financial District South': 25,
 'Hamilton Heights': 25,
 'Stuy Town/Peter Cooper Village': 23,
 'World Trade Center': 23,
 'Clinton Hill': 22,
 'Elmhurst': 22,
 'Woodside': 21,
 'Steinway': 21,
 'Forest Hills': 21,
 'Old Astoria': 19,
 'Downtown Brooklyn/MetroTech': 19,
 'Seaport': 18,
 'Queensbridge/Ravenswood': 17,
 'Bloomingdale': 17,
 'Williamsburg (North Side)': 16,
 'Flatbush/Ditmas Park': 15,
 'Manhattanville': 15,
 'Washington Heights North': 15,
 'Bedford': 15,
 'DUMBO/Vinegar Hill': 14,
 'Williamsburg (South Side)': 14,
 'Greenpoint': 14,
 'East Concourse/Concourse Village': 14,
 'East Williamsburg': 13,
 'Carroll Gardens': 13,
 'Stuyvesant Heights': 13,
 'Cobble Hill': 13,
 'Bushwick South': 12,
 'South Ozone Park': 11,
 'Bushwick North': 11,
 'Crown Heights South': 11,
 'Chinatown': 11,
 'East New York': 11,
 'West Concourse': 10,
 'Melrose South': 10,
 'Columbia Street': 9,
 'Prospect-Lefferts Gardens': 9,
 'Hillcrest/Pomonok': 9,
 'Mott Haven/Port Morris': 8,
 'Flatlands': 8,
 'North Corona': 8,
 'Canarsie': 8,
 'Inwood': 8,
 'Middle Village': 8,
 'Norwood': 7,
 'Richmond Hill': 7,
 'Rego Park': 7,
 'Long Island City/Queens Plaza': 7,
 'Prospect Heights': 7,
 'University Heights/Morris Heights': 7,
 'Baisley Park': 7,
 'Midwood': 7,
 'Riverdale/North Riverdale/Fieldston': 6,
 'East Tremont': 6,
 'Soundview/Castle Hill': 6,
 'Sunset Park West': 6,
 'Gowanus': 5,
 'Sheepshead Bay': 5,
 'Cypress Hills': 5,
 'Bay Ridge': 5,
 'Jamaica': 5,
 'Maspeth': 5,
 'Flushing Meadows-Corona Park': 5,
 'Corona': 5,
 'Red Hook': 5,
 'Briarwood/Jamaica Hills': 5,
 'Ridgewood': 5,
 'Ocean Hill': 5,
 'East Elmhurst': 5,
 'Van Nest/Morris Park': 4,
 'Belmont': 4,
 'Co-Op City': 4,
 'East Flatbush/Remsen Village': 4,
 'Gravesend': 4,
 'Starrett City': 4,
 'Spuyten Duyvil/Kingsbridge': 4,
 'Kingsbridge Heights': 4,
 'Brownsville': 4,
 'Murray Hill-Queens': 4,
 'Highbridge': 4,
 'Williamsbridge/Olinville': 4,
 'Glendale': 4,
 'Elmhurst/Maspeth': 4,
 'Mount Hope': 3,
 'Queens Village': 3,
 'South Jamaica': 3,
 'Soundview/Bruckner': 3,
 'Van Cortlandt Village': 3,
 'Fresh Meadows': 3,
 'Kew Gardens Hills': 3,
 'Howard Beach': 3,
 'South Williamsburg': 3,
 'Hunts Point': 3,
 'Dyker Heights': 3,
 'Bayside': 3,
 'Manhattan Beach': 3,
 'Battery Park': 3,
 'Parkchester': 3,
 'Kew Gardens': 3,
 'Bronxdale': 3,
 'Roosevelt Island': 3,
 'Marble Hill': 3,
 'Saint Albans': 3,
 'Rosedale': 3,
 'Bedford Park': 2,
 'Claremont/Bathgate': 2,
 'Borough Park': 2,
 'Flushing': 2,
 'Westchester Village/Unionport': 2,
 'Eastchester': 2,
 'College Point': 2,
 'Cambria Heights': 2,
 'Woodhaven': 2,
 'Marine Park/Mill Basin': 2,
 'Pelham Parkway': 2,
 'Crotona Park East': 2,
 'Bensonhurst West': 2,
 'East Flatbush/Farragut': 2,
 'Prospect Park': 2,
 'Allerton/Pelham Gardens': 2,
 'Woodlawn/Wakefield': 2,
 'Randalls Island': 2,
 'Windsor Terrace': 2,
 'Homecrest': 1,
 'Douglaston': 1,
 'Auburndale': 1,
 'Madison': 1,
 'Morrisania/Melrose': 1,
 'Queensboro Hill': 1,
 'West Brighton': 1,
 'Bath Beach': 1,
 'Brooklyn Navy Yard': 1,
 'Oakland Gardens': 1,
 'Jamaica Estates': 1,
 'Inwood Hill Park': 1,
 'Stapleton': 1,
 'Whitestone': 1,
 'Bensonhurst East': 1,
 'Springfield Gardens South': 1,
 'East Flushing': 1,
 'Brighton Beach': 1,
 'Ozone Park': 1}

In [40]:
def split_function(x):
    try:
        try:
            if type(x)!= float:
                (v1,v2) = x.split('/')
                return v1,v2
        except Exception as e:
            if type(x)!= float:
                v1 = x.split('/')
                v2 = np.nan
                return v1,v2
    except TypeError as te:
        return (np.nan,np.nan)
        
data["area"]=data["dropoff_zone"].apply(lambda x:split_function(x)[0])
data["sub_zone"]=data["dropoff_zone"].apply(lambda x: split_function(x)[1])

TypeError: 'NoneType' object is not subscriptable

In [27]:
split_col = f.split(data_spark["dropoff_zone"],pattern="/")
data_spark=data_spark.withColumn("area",split_col.getItem(0)).withColumn("sub-zone", split_col.getItem(1))

In [28]:
data_spark.show(1)

+-------------------+-------------------+----------+--------+----+----+-----+-----+------+-----------+---------------+-------------------+--------------+---------------+----+----------------+
|             pickup|            dropoff|passengers|distance|fare| tip|tolls|total| color|    payment|    pickup_zone|       dropoff_zone|pickup_borough|dropoff_borough|area|        sub-zone|
+-------------------+-------------------+----------+--------+----+----+-----+-----+------+-----------+---------------+-------------------+--------------+---------------+----+----------------+
|2019-03-23 20:21:09|2019-03-23 20:27:24|         1|     1.6| 7.0|2.15|  0.0|12.95|yellow|credit card|Lenox Hill West|UN/Turtle Bay South|     Manhattan|      Manhattan|  UN|Turtle Bay South|
+-------------------+-------------------+----------+--------+----+----+-----+-----+------+-----------+---------------+-------------------+--------------+---------------+----+----------------+
only showing top 1 row