## Importing dependencies

In [3]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as f

import seaborn as sns

## Loading dataset

In [5]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [6]:
data = sns.load_dataset('taxis')

In [7]:
data.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

## Creating a spark session and converting to a spark dataframe

In [10]:
spark = SparkSession.builder.appName("Learning Spark").getOrCreate()

data_spark = spark.createDataFrame(data)

/home/codespace/.python/current/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:485: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if should_localize and is_datetime64tz_dtype(s.dtype) and s.dt.tz is not None:

In [11]:
data_spark.show(1)

+-------------------+-------------------+----------+--------+----+----+-----+-----+------+-----------+---------------+-------------------+--------------+---------------+
|             pickup|            dropoff|passengers|distance|fare| tip|tolls|total| color|    payment|    pickup_zone|       dropoff_zone|pickup_borough|dropoff_borough|
+-------------------+-------------------+----------+--------+----+----+-----+-----+------+-----------+---------------+-------------------+--------------+---------------+
|2019-03-23 20:21:09|2019-03-23 20:27:24|         1|     1.6| 7.0|2.15|  0.0|12.95|yellow|credit card|Lenox Hill West|UN/Turtle Bay South|     Manhattan|      Manhattan|
+-------------------+-------------------+----------+--------+----+----+-----+-----+------+-----------+---------------+-------------------+--------------+---------------+
only showing top 1 row

## Comparing operations in pandas and pyspark:
##### 1. pandasDataFrame.info() vs pysparkDataFrame.printSchema()

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 703.7+ KB

In [12]:
data_spark.printSchema()

root
 |-- pickup: timestamp (nullable = true)
 |-- dropoff: timestamp (nullable = true)
 |-- passengers: long (nullable = true)
 |-- distance: double (nullable = true)
 |-- fare: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- tolls: double (nullable = true)
 |-- total: double (nullable = true)
 |-- color: string (nullable = true)
 |-- payment: string (nullable = true)
 |-- pickup_zone: string (nullable = true)
 |-- dropoff_zone: string (nullable = true)
 |-- pickup_borough: string (nullable = true)
 |-- dropoff_borough: string (nullable = true)